@font-face{
    font-family: 'Panthera';
    src: url(../Polyce/Panthera/PantheraRegular-MVZ9J.ttf); 
 }

 @font-face{
    font-family: 'BEYNO';
    src: url(../Polyce/beyno/BEYNO.ttf); 
 }

 @font-face{
    font-family: 'Wakanda-forever';
    src: url(../Polyce/wakanda_forever/WakandaForever-Regular.ttf); 
 }

 @font-face{
    font-family: 'Cantarell';
    src: url(../Polyce/cantarell/Cantarell-Regular.ttf); 
 }

 :root{
    --blanc: #FFFFFF;
    --blanc-rose : #F2CEF2; 
    --violet-claire: #9E91B7;
    --rose-claire: #DF99F2;
    --bleu: #3D2DA6;
    --bleu-foncé: #07338C;
    --bleu-marine: #021740;
 }

 *{
   margin: 0;
   margin-right: 0px;
   margin-left: 3px;
   padding: 2px;
   border: 20%;
   border-left: 10px;
   font-weight: 300
}

 /*------------------------------------------- Partie footer------------------------------------------------ */

 footer {
   border: 10px;
   margin-top: auto;
   background-repeat: no-repeat;
   background-size: 0px;
   background: linear-gradient(
       80deg,var(--violet-claire),var(--rose-claire) )

 }


 /*---------------------------------------------- header------------------------------------------*/

 header, main {
   margin: 2%;
 }
 /*-------------------------------body------------------------*/
body{
   color: white;
   background-image: url(../Assets/All-pages/arrière_plan.png);
   background-repeat: no-repeat;
   
}

/*---------------------------------------------- titre ou les hauts de la page------------------------------------------*/



#base{
   display: inline;
   justify-content: space-between;
   display: flex;
  margin-top: 5%;
  border: 20px;
 }
 .Accueil a{
   justify-content: right;
   text-transform: none;
   justify-items: space-between;
   color: #FFFFFF;
   padding: 20px;
   border: 900%;
   
/* ---------------------------------------la grande page----------------------------------------*/
 }
 .gauche 
 img{
   width: 60%;
   height: 30%;
 }
 .gauche {
   display: flex;
 }
 .left{
   padding: 20px;
   width: 30%;
   height: 60%;
 }

/* partie texte*/

h1{
   font-family: 'BEYNO';
   border: 20px;
   padding: 60%;
   width: 100%;
  
}
h2, h3{
   font-family: 'Beyno';
   font-size: 32px;
}
.vocab-wakanda p , .alphabet .forme{
   font-family:'Wakanda-forever';
}
p{
   font-family: 'Cantarell';
}


.last_parag{
   right: 100%;
   font-size: 15px;
   border: 90px;
   padding: 2%;
   justify-content: right
}
.left{
   justify-content: left;
}
.last_parag img{
   padding: 20%;
   margin: 20px;
   top: 2%;
}

.gauche div{
   right: 100%;
}

